.App-logo {
  width: 100px;
  max-width: 100%;
  height: auto;
}

a,ul,li,p,div,table.p,span,label,select,form,code,button{
font-family: 'SF-Pro-Display-Regular',sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'SF-Pro-Display-Medium',sans-serif;
}