@font-face {
    font-family: 'SF-Pro-Display-Light';
    src: local('SF-Pro-Display-Light'),
         url('./assets/fonts/SF-Pro-Display-Light.woff') format('woff'),
}
@font-face {
    font-family: 'SF-Pro-Display-Ultralight';
    src: local('SF-Pro-Display-Ultralight'),
         url('./assets/fonts/SF-Pro-Display-Ultralight.woff') format('woff'),
}
@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: local('SF-Pro-Display-Regular'),
         url('./assets/fonts/SF-Pro-Display-Regular.woff') format('woff'),
}
@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: local('SF-Pro-Display-Medium'),
         url('./assets/fonts/SF-Pro-Display-Medium.woff') format('woff'),
}
@font-face {
    font-family: 'SF-Pro-Display-SemiBold';
    src: local('SF-Pro-Display-SemiBold'),
         url('./assets/fonts/SF-Pro-Display-Semibold.woff') format('woff'),
}
@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: local('SF-Pro-Display-Bold'),
         url('./assets/fonts/SF-Pro-Display-Bold.woff') format('woff'),
}
